openapi: 3.0.1
info:
  description: Anypoint Partner Manager - Partners API
  title: Partner Manager Partners API
  version: v1.0.0
servers:
- description: Anypoint Cloudhub
  url: https://anypoint.mulesoft.com/partnermanager/partners/api/v1
- description: Anypoint Cloudhub EU
  url: https://eu1.anypoint.mulesoft.com/partnermanager/partners/api/v1
paths:
  /organizations/{organizationId}/environments/{environmentId}/contactTypes:
    get:
      description: Get List of supported contact types
      operationId: getAllContactTypes
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: 50615d27-0356-47fc-bd1e-440c992cd98e
                  name: Business
                  label: Business Contact
                  description: Business Contact
                - id: 50615d27-0356-47fc-bd1e-440c992cd98e
                  name: Business
                  label: Business Contact
                  description: Technical Contact
                - id: 50615d27-0356-47fc-bd1e-440c992cd98e
                  name: Business
                  label: Business Contact
                  description: Other Contact
                items:
                  $ref: '#/components/schemas/contactType'
                type: array
          description: 'Get list '
        "404":
          description: Not found
  /organizations/{organizationId}/environments/{environmentId}/customAttributes:
    post:
      operationId: createCustomAttribute
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: partnerId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customAttribute'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
  /organizations/{organizationId}/environments/{environmentId}/customAttributes/{customAttributeId}:
    delete:
      operationId: deleteCustomAttribute
      parameters:
      - explode: false
        in: path
        name: customAttributeId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
    get:
      operationId: getCustomAttribute
      parameters:
      - explode: false
        in: path
        name: customAttributeId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customAttribute'
          description: Get a custom Attribute
    patch:
      operationId: updateCustomAttribute
      parameters:
      - explode: false
        in: path
        name: customAttributeId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customAttribute'
        required: true
      responses:
        "204":
          description: No content
  /organizations/{organizationId}/environments/{environmentId}/partnerprofiles:
    get:
      operationId: getAllPartnerProfiles
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/partnerprofile'
                type: array
          description: Get All partner profiles
    post:
      operationId: createPartnerProfile
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/partnerprofile'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
  /organizations/{organizationId}/environments/{environmentId}/partnerprofiles/{partnerId}:
    delete:
      operationId: deletePartnerProfile
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
    get:
      operationId: getPartnerProfile
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/partnerprofile'
          description: Get a partner profile
  /organizations/{organizationId}/environments/{environmentId}/partners:
    get:
      description: Get all partners
      operationId: getAllPartners
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: fb993e92-a0c3-4d56-b321-b2c382e53f14
                  name: Melora
                  description: Description
                  websiteUrl: ""
                  status:
                    id: 631fee0a-e729-4c3e-8a1c-06c5a403f8c8
                    startDate: 2019-05-28
                    endDate: 2019-05-28
                    status: ACTIVE
                  environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                  hostFlag: false
                items:
                  $ref: '#/components/schemas/partner'
                type: array
          description: List of Partners
    post:
      description: Create a new partner
      operationId: createPartner
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: fb993e92-a0c3-4d56-b321-b2c382e53f14
              name: Melora
              description: Description
              websiteUrl: ""
              status:
                id: 631fee0a-e729-4c3e-8a1c-06c5a403f8c8
                startDate: 2019-05-28
                endDate: 2019-05-28
                status: ACTIVE
              environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
              hostFlag: false
            schema:
              $ref: '#/components/schemas/partner'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
        "400":
          description: Bad request
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}:
    delete:
      description: Delete partner
      operationId: deletePartner
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
    get:
      description: Get Partner
      operationId: getPartner
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: fb993e92-a0c3-4d56-b321-b2c382e53f14
                name: Melora
                description: Description
                websiteUrl: ""
                status:
                  id: 631fee0a-e729-4c3e-8a1c-06c5a403f8c8
                  startDate: 2019-05-28
                  endDate: 2019-05-28
                  status: ACTIVE
                environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                hostFlag: false
              schema:
                $ref: '#/components/schemas/partner'
          description: Get Partner
        "404":
          description: Not Found
    put:
      description: Replace partner
      operationId: replacePartner
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: fb993e92-a0c3-4d56-b321-b2c382e53f14
              name: Melora
              description: Description
              websiteUrl: ""
              status:
                id: 631fee0a-e729-4c3e-8a1c-06c5a403f8c8
                startDate: 2019-05-28
                endDate: 2019-05-28
                status: ACTIVE
              environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
              hostFlag: false
            schema:
              $ref: '#/components/schemas/partner'
        required: true
      responses:
        "204":
          description: No content
        "400":
          description: Bad Request
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/contacts:
    get:
      description: Get all contacts
      operationId: getAllContacts
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 838aaf51-8c6d-4bea-a608-3c1eb05a83b3
                name: TEST_NAME_256
                email: some738@domain.com
                phoneNumber: ""
                status: ACTIVE
                contactType:
                  id: 50615d27-0356-47fc-bd1e-440c992cd98e
                  name: Business
                  label: Business Contact
                  description: Business Contact
              schema:
                items:
                  $ref: '#/components/schemas/contact'
                type: array
    post:
      description: Create a new contact
      operationId: createContact
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: 838aaf51-8c6d-4bea-a608-3c1eb05a83b3
              name: TEST_NAME_256
              email: some738@domain.com
              phoneNumber: ""
              status: ACTIVE
              contactType:
                id: 50615d27-0356-47fc-bd1e-440c992cd98e
                name: Business
                label: Business Contact
                description: Business Contact
            schema:
              $ref: '#/components/schemas/contact'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/contacts/{contactId}:
    delete:
      description: Delete contact
      operationId: deleteContact
      parameters:
      - explode: false
        in: path
        name: contactId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204": {}
        "404": {}
        "500": {}
    get:
      description: Get Contact
      operationId: getContact
      parameters:
      - explode: false
        in: path
        name: contactId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 838aaf51-8c6d-4bea-a608-3c1eb05a83b3
                name: TEST_NAME_256
                email: some738@domain.com
                phoneNumber: ""
                status: ACTIVE
                contactType:
                  id: 50615d27-0356-47fc-bd1e-440c992cd98e
                  name: Business
                  label: Business Contact
                  description: Business Contact
              schema:
                $ref: '#/components/schemas/contact'
        "404": {}
        "500": {}
    put:
      description: Replace contact
      operationId: replaceContact
      parameters:
      - explode: false
        in: path
        name: contactId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: 838aaf51-8c6d-4bea-a608-3c1eb05a83b3
              name: TEST_NAME_256
              email: some738@domain.com
              phoneNumber: ""
              status: ACTIVE
              contactType:
                id: 50615d27-0356-47fc-bd1e-440c992cd98e
                name: Business
                label: Business Contact
                description: Business Contact
            schema:
              $ref: '#/components/schemas/contact'
        required: true
      responses:
        "204": {}
        "400": {}
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/identifiers:
    get:
      description: Get all identifiers
      operationId: getAllIdentifiers
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: ecb01f12-5b25-4d8b-a5e8-f3525f13e351
                identifierTypeQualifierId: 25c1bc8a-801f-4947-a2a6-7721ef971460
                status: ACTIVE
                qualifierLabel: AS2 Identity
                typeLabel: AS2 Identity
                code: AS2
                value: TEST_VALUE_493
              schema:
                items:
                  $ref: '#/components/schemas/identifier'
                type: array
    post:
      description: Create a new identifier
      operationId: createIdentifier
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: ecb01f12-5b25-4d8b-a5e8-f3525f13e351
              identifierTypeQualifierId: 25c1bc8a-801f-4947-a2a6-7721ef971460
              status: ACTIVE
              qualifierLabel: AS2 Identity
              typeLabel: AS2 Identity
              code: AS2
            schema:
              $ref: '#/components/schemas/identifier'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
        "400": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/identifiers/{identifierId}:
    delete:
      description: Delete identifier
      operationId: deleteIdentifier
      parameters:
      - explode: false
        in: path
        name: identifierId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204": {}
        "404": {}
        "500": {}
    get:
      description: Get Identifier
      operationId: getIdentifier
      parameters:
      - explode: false
        in: path
        name: identifierId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: ecb01f12-5b25-4d8b-a5e8-f3525f13e351
                identifierTypeQualifierId: 25c1bc8a-801f-4947-a2a6-7721ef971460
                status: ACTIVE
                qualifierLabel: AS2 Identity
                typeLabel: AS2 Identity
                code: AS2
              schema:
                $ref: '#/components/schemas/identifier'
    put:
      description: Replace identifier
      operationId: replaceIdentifier
      parameters:
      - explode: false
        in: path
        name: identifierId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: ecb01f12-5b25-4d8b-a5e8-f3525f13e351
              identifierTypeQualifierId: 25c1bc8a-801f-4947-a2a6-7721ef971460
              status: ACTIVE
              qualifierLabel: AS2 Identity
              typeLabel: AS2 Identity
              code: AS2
            schema:
              $ref: '#/components/schemas/identifier'
        required: true
      responses:
        "204": {}
        "400": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/logo:
    get:
      description: Get Partner Logo
      operationId: getPartnerLogo
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200": {}
        "404": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/statuses/{statusId}:
    get:
      description: Get statuses
      operationId: getStatus
      parameters:
      - explode: false
        in: path
        name: statusId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: b951aaee-4701-4bec-b535-4f7f804bce48
                startDate: 2019-06-04
                endDate: 2019-06-04
                status: DRAFT
              schema:
                $ref: '#/components/schemas/timedStatus'
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/ediFormats/{format}/configurations:
    get:
      description: Get all configurations
      operationId: getAllConfigurations
      parameters:
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  example:
                    $ref: '#/components/examples/X12Configuration'
                  type: object
                type: array
    post:
      description: Create a new configuration
      operationId: createConfiguration
      parameters:
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              $ref: '#/components/examples/X12Configuration'
            schema:
              $ref: '#/components/schemas/ediFormatConfiguration'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
        "400": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/ediFormats/{format}/configurations/{configId}:
    delete:
      description: Delete configuration
      operationId: deleteConfiguration
      parameters:
      - explode: false
        in: path
        name: configId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204": {}
        "404": {}
        "500": {}
    get:
      description: Get Configuration
      operationId: getConfiguration
      parameters:
      - explode: false
        in: path
        name: configId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ediFormatConfiguration'
        "404": {}
        "500": {}
    put:
      description: Replace configuration
      operationId: replaceConfiguration
      parameters:
      - explode: false
        in: path
        name: configId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              example:
                $ref: '#/components/examples/X12Configuration'
            schema:
              $ref: '#/components/schemas/ediFormatConfiguration'
        required: true
      responses:
        "204": {}
        "400": {}
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/ediFormats/{format}/documents:
    get:
      description: Get all documents
      operationId: getEdiFormatDocuments
      parameters:
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: def07900-a5cb-47d2-a928-2b16d6510972
                  name: X12-v005010-850
                  isStandard: true
                  ediDocumentTypeId: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                  baseType:
                    id: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                    documentName: "850"
                    label: "850"
                    schemaPath: /schemas/x12/5010/850.esl
                    description: ""
                    formatType: X12
                    version: v005010
                items:
                  type: object
                type: array
    post:
      description: Create a new document
      operationId: createEdiFormatDocument
      parameters:
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              simpleDocumentPartner:
                id: def07900-a5cb-47d2-a928-2b16d6510972
                name: X12-v005010-850
                isStandard: true
                ediDocumentTypeId: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                baseType:
                  id: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                  documentName: "850"
                  label: "850"
                  schemaPath: /schemas/x12/5010/850.esl
                  description: ""
                  formatType: X12
                  version: v005010
            schema:
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
        "400": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/ediFormats/{format}/documents/{docId}:
    delete:
      description: Delete document
      operationId: deleteEdiFormatDocument
      parameters:
      - explode: false
        in: path
        name: docId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204": {}
        "404": {}
        "500": {}
    get:
      description: Get Document
      operationId: getEdiFormatDocument
      parameters:
      - explode: false
        in: path
        name: docId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  simpleDocumentPartner:
                    id: def07900-a5cb-47d2-a928-2b16d6510972
                    name: X12-v005010-850
                    isStandard: true
                    ediDocumentTypeId: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                    baseType:
                      id: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                      documentName: "850"
                      label: "850"
                      schemaPath: /schemas/x12/5010/850.esl
                      description: ""
                      formatType: X12
                      version: v005010
        "404": {}
        "500": {}
    put:
      description: Replace document
      operationId: replaceEdiFormatDocument
      parameters:
      - explode: false
        in: path
        name: docId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: format
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: def07900-a5cb-47d2-a928-2b16d6510972
              name: X12-v005010-850
              isStandard: true
              ediDocumentTypeId: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
              baseType:
                id: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                documentName: "850"
                label: "850"
                schemaPath: /schemas/x12/5010/850.esl
                description: ""
                formatType: X12
                version: v005010
            schema:
              type: object
        required: true
      responses:
        "204": {}
        "400": {}
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/documents:
    get:
      description: Get all documents
      operationId: getAllDocuments
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: def07900-a5cb-47d2-a928-2b16d6510972
                name: X12-v005010-850
                isStandard: true
                ediDocumentTypeId: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                baseType:
                  id: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                  documentName: "850"
                  label: "850"
                  schemaPath: /schemas/x12/5010/850.esl
                  description: ""
                  formatType: X12
                  version: v005010
              schema:
                items:
                  $ref: '#/components/schemas/Document'
                type: array
    post:
      description: Create a new document
      operationId: createDocument
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: def07900-a5cb-47d2-a928-2b16d6510972
              name: X12-v005010-850
              isStandard: true
              ediDocumentTypeId: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
              baseType:
                id: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                documentName: "850"
                label: "850"
                schemaPath: /schemas/x12/5010/850.esl
                description: ""
                formatType: X12
                version: v005010
            schema:
              $ref: '#/components/schemas/Document'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
        "400": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/documents/{documentById}:
    delete:
      description: Delete document
      operationId: deleteDocument
      parameters:
      - explode: false
        in: path
        name: documentById
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204": {}
        "404": {}
        "500": {}
    get:
      description: Get Document
      operationId: getDocument
      parameters:
      - explode: false
        in: path
        name: documentById
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: def07900-a5cb-47d2-a928-2b16d6510972
                name: X12-v005010-850
                isStandard: true
                ediDocumentTypeId: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                baseType:
                  id: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                  documentName: "850"
                  label: "850"
                  schemaPath: /schemas/x12/5010/850.esl
                  description: ""
                  formatType: X12
                  version: v005010
              schema:
                $ref: '#/components/schemas/Document'
        "404": {}
        "500": {}
    put:
      description: Replace document
      operationId: replaceDocument
      parameters:
      - explode: false
        in: path
        name: documentById
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: def07900-a5cb-47d2-a928-2b16d6510972
              name: X12-v005010-850
              isStandard: true
              ediDocumentTypeId: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
              baseType:
                id: 1b181fc7-ce2a-48ee-9208-3681cd73e10a
                documentName: "850"
                label: "850"
                schemaPath: /schemas/x12/5010/850.esl
                description: ""
                formatType: X12
                version: v005010
            schema:
              $ref: '#/components/schemas/Document'
        required: true
      responses:
        "204": {}
        "400": {}
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/certificates:
    get:
      description: Get all Certificates
      operationId: getAllCertificates
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200": {}
    post:
      description: Create a new Certificate
      operationId: createPartnerCertificate
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                certType:
                  type: string
                certName:
                  type: string
                certFile:
                  type: string
              required:
              - certFile
              - certName
              - certType
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
        "400": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/partners/{partnerId}/certificates/{certificateId}:
    get:
      description: Get Certificate
      operationId: getPartnerCertificate
      parameters:
      - explode: false
        in: path
        name: certificateId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200": {}
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/identifierTypes:
    get:
      description: Get all identifierTypes
      operationId: getAllIdentifierTypes
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 65715d63-b628-4eb0-913d-cfdb55057c15
                name: AS2
                label: AS2 Identity
                description: ""
                readonly: true
                qualifiers:
                - id: 25c1bc8a-801f-4947-a2a6-7721ef971460
                  identifierTypeId: 65715d63-b628-4eb0-913d-cfdb55057c15
                  code: AS2
                  label: AS2 Identity
                  segmentIdentifier: null
                  descritpion: null
                  environmentId: 00000000-0000-0000-0000-000000000000
                environment_id: 00000000-0000-0000-0000-000000000000
              - id: ce7e0612-8913-4bac-a99b-7f7c6c8f456f
                name: X12-ISA
                label: X12 - ISA
                description: ""
                readonly: true
                qualifiers:
                - id: dacbb21c-f452-434e-985f-c8c588ebf2f2
                  identifierTypeId: ce7e0612-8913-4bac-a99b-7f7c6c8f456f
                  code: "01"
                  label: 01 (Duns Number)
                  segmentIdentifier: null
                  descritpion: null
                  environmentId: 00000000-0000-0000-0000-000000000000
                - id: 789fb88c-c353-46f6-ba7e-2f9784e5e504
                  identifierTypeId: ce7e0612-8913-4bac-a99b-7f7c6c8f456f
                  code: "08"
                  label: 08 (UCC EDI Number)
                  segmentIdentifier: null
                  descritpion: null
                  environmentId: 00000000-0000-0000-0000-000000000000
                - id: 26432f80-b58b-4c96-aac6-58af5d5580fc
                  identifierTypeId: ce7e0612-8913-4bac-a99b-7f7c6c8f456f
                  code: "12"
                  label: 12 (Phone Number)
                  segmentIdentifier: null
                  descritpion: null
                  environmentId: 00000000-0000-0000-0000-000000000000
                - id: 2e92b8d1-0510-4d59-ac3b-953d08127f78
                  identifierTypeId: ce7e0612-8913-4bac-a99b-7f7c6c8f456f
                  code: "14"
                  label: 14 (Duns Number and Suffix Number)
                  segmentIdentifier: null
                  descritpion: null
                  environmentId: 00000000-0000-0000-0000-000000000000
                - id: fc397111-9590-4fea-a238-5853d575e04e
                  identifierTypeId: ce7e0612-8913-4bac-a99b-7f7c6c8f456f
                  code: ZZ
                  label: ZZ (Mutually Defined)
                  segmentIdentifier: null
                  descritpion: null
                  environmentId: 00000000-0000-0000-0000-000000000000
                environment_id: 00000000-0000-0000-0000-000000000000
              - id: ed100353-3187-4535-b400-f6a3fa0b56c3
                name: X12-GS
                label: X12 - GS
                description: ""
                readonly: true
                qualifiers:
                - id: 5982e3de-4878-44ec-b55d-a39d60064250
                  identifierTypeId: ed100353-3187-4535-b400-f6a3fa0b56c3
                  code: GS
                  label: Group ID (GS)
                  segmentIdentifier: null
                  descritpion: null
                  environmentId: 00000000-0000-0000-0000-000000000000
                environment_id: 00000000-0000-0000-0000-000000000000
              - id: 05ebfb78-1fad-45ee-9a7d-53a6766a8c4f
                name: DUNS
                label: DUNS
                description: ""
                readonly: true
                qualifiers:
                - id: 3ca16584-94b7-4d97-b57c-e5d6600bd441
                  identifierTypeId: 05ebfb78-1fad-45ee-9a7d-53a6766a8c4f
                  code: DUNS
                  label: DUNS Number
                  segmentIdentifier: null
                  descritpion: null
                  environmentId: 00000000-0000-0000-0000-000000000000
                environment_id: 00000000-0000-0000-0000-000000000000
              schema:
                items:
                  $ref: '#/components/schemas/identifierType'
                type: array
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/identifierTypes/{identifierTypeId}:
    get:
      description: Get identifierTypes
      operationId: getIdentifierType
      parameters:
      - explode: false
        in: path
        name: identifierTypeId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                simpleIdentifierType:
                  id: 05ebfb78-1fad-45ee-9a7d-53a6766a8c4f
                  name: DUNS Modify
                  label: DUNS
                  description: ""
                  readonly: true
                  qualifiers:
                  - id: 3ca16584-94b7-4d97-b57c-e5d6600bd441
                    identifierTypeId: 3ca16584-94b7-4d97-b57c-e5d6600bd441
                    code: DUNS
                    label: DUNS Number
                    segmentIdentifier: null
                    descritpion: description
                    environmentId: 00000000-0000-0000-0000-000000000000
                  environment_id: 00000000-0000-0000-0000-000000000000
              schema:
                $ref: '#/components/schemas/identifierType'
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/endpoints:
    get:
      description: Get endpoints
      operationId: getAllEndpoints
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: typeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: role
        required: false
        schema:
          $ref: '#/components/schemas/EndpointRoleType'
        style: form
      - explode: true
        in: query
        name: deploymentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: deploymentStatus
        required: false
        schema:
          enum:
          - ACTIVE
          - INACTIVE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: 6fc31df9-52ff-40f9-93ff-c9b7f7394cd4
                  name: Source SFTP Local
                  description: Local Source SFTP for Melora
                  environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                  endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                  partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                  hostCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972397
                  partnerCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                  deployment: null
                  endpointRole: SEND
                  endpointType: sftp
                  config:
                    configName: sftp
                    serverAddress: localhost
                    serverPort: 44
                    authMode:
                      authType: BASIC
                      csmSecret: null
                      username: mule
                      password: mule
                    path: /BITB
                    fileAge: 10
                    pollingFrequency: 5000
                    sizeCheckWaitTime: 120
                    movedPath: ""
                  createdAt: 2019-08-15T17:53:03Z
                  createdBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  updatedAt: 2019-08-28T20:12:57Z
                  updatedBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  partner:
                    id: fb993e92-a0c3-4d56-b321-b2c382e53f14
                    name: Melora
                    description: null
                    websiteUrl: null
                    status:
                      id: 631fee0a-e729-4c3e-8a1c-06c5a403f8c8
                      startDate: null
                      endDate: null
                      status: ACTIVE
                    environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                    hostFlag: false
                  hostCertificate:
                    id: 2ff1bc8a-821f-ec53-a2a6-7721ef972397
                    certificateType: PEM
                    name: Melora 8
                    csmSecret:
                      secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      grantResponse:
                        path: /secret/path
                        accessGrant: ""
                    authority: Some Authority
                    serialNumber: 1234-5678
                    startDate: 2019-07-23T22:13:52
                    expires: 2019-07-23T22:13:52
                    partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                    usedInEndpoints: 1
                  partnerCertificate:
                    id: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                    certificateType: PEM
                    name: Melora 8
                    csmSecret:
                      secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      grantResponse:
                        path: /secret/path
                        accessGrant: ""
                    authority: Some Authority
                    serialNumber: 1234-5678
                    startDate: 2019-07-23T22:41:00
                    expires: 2019-07-23T22:41:00
                    partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                    usedInEndpoints: 2
                - id: ed703a7b-0bc1-4073-81ff-c2379a02cd81
                  name: Mulesoft SFTP Target
                  description: Mulesoft Local Target SFTP
                  environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                  endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                  partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                  hostCertificateId: null
                  partnerCertificateId: null
                  deployment: null
                  endpointRole: RECEIVE
                  endpointType: sftp
                  config:
                    configName: sftp
                    serverAddress: localhost
                    serverPort: 44
                    authMode:
                      authType: BASIC
                      csmSecret: null
                      username: mule
                      password: mule
                    path: /B2BTARGET
                    fileAge: 10
                    pollingFrequency: 5000
                    sizeCheckWaitTime: 120
                    movedPath: ""
                  partner:
                    id: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                    name: Mulesoft
                    description: null
                    websiteUrl: null
                    status:
                      id: 37aab64f-c3c9-4e7d-b46b-b5a89c12cabf
                      startDate: null
                      endDate: null
                      status: ACTIVE
                    environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                    hostFlag: false
                  hostCertificate: null
                  partnerCertificate: null
                  createdAt: 2019-08-15T17:53:03Z
                  createdBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  updatedAt: 2019-08-28T20:12:57Z
                  updatedBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                - id: c70bcec4-392c-40d6-a65f-795244934718
                  name: Mulesoft SFTP Target
                  description: Mulesoft Local Target SFTP
                  environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                  endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                  partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                  hostCertificateId: null
                  partnerCertificateId: null
                  deployment:
                    id: 63d1aca8-ee5e-4165-adad-9944cb2c919c
                    status: ACTIVE
                    name: inbound-sftp-49a1c002-b2fb-46d0-98f6-1f4fcd5522ee
                    runtimeDeploymentId: 1356
                    ports: []
                  endpointRole: RECEIVE
                  endpointType: sftp
                  config:
                    configName: sftp
                    serverAddress: localhost
                    serverPort: 2244
                    authMode:
                      authType: BASIC
                      csmSecret: null
                      username: mule
                      password: password
                    path: /receive
                    fileAge: 10
                    pollingFrequency: 5000
                    sizeCheckWaitTime: 120
                    movedPath: ""
                  createdAt: 2019-08-15T17:53:03Z
                  createdBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  updatedAt: 2019-08-28T20:12:57Z
                  updatedBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  partner:
                    id: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                    name: Mulesoft
                    description: null
                    websiteUrl: null
                    status:
                      id: 37aab64f-c3c9-4e7d-b46b-b5a89c12cabf
                      startDate: null
                      endDate: null
                      status: ACTIVE
                    environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                    hostFlag: false
                  hostCertificate: null
                  partnerCertificate: null
                - id: 437ae91d-65e3-4dc3-bb7d-fcc5afb0952b
                  name: Storage API
                  description: Storage API
                  environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                  endpointTypeId: aa1fd35b-50af-47fe-91bb-48a7ed4ab685
                  partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                  hostCertificateId: null
                  partnerCertificateId: null
                  deployment:
                    id: be4e705e-1479-4800-a33a-5c1f5581702f
                    status: ACTIVE
                    name: APIReplicationService_d4d3d79e-e594-4137-83dd-351a89d3562a
                    runtimeDeploymentId: 1354
                    ports: []
                  endpointRole: STORAGE_API
                  endpointType: http
                  config:
                    configName: http
                    serverAddress: localhost
                    serverPort: 9099
                    authMode:
                      authType: NONE
                      csmSecret: null
                    protocol: HTTP
                    path: /
                    allowedMethods: POST
                    persistentConnections: false
                    connectionIdleTimeout: 30000
                    responseTimeout: 15000
                    allowStorageApiUIConnection: false
                    tlsContext: null
                  partner:
                    id: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                    name: Mulesoft
                    description: null
                    websiteUrl: null
                    status:
                      id: 37aab64f-c3c9-4e7d-b46b-b5a89c12cabf
                      startDate: null
                      endDate: null
                      status: ACTIVE
                    environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                    hostFlag: false
                  hostCertificate: null
                  partnerCertificate: null
                  createdAt: 2019-08-15T17:53:03Z
                  createdBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  updatedAt: 2019-08-28T20:12:57Z
                  updatedBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                - id: 6adba7c8-6d60-4d18-a796-aa0108bd1497
                  name: Source SFTP Local
                  description: Local Source SFTP for Melora
                  environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                  endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                  partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                  hostCertificateId: null
                  partnerCertificateId: null
                  deployment:
                    id: 2fa9b11f-47ef-44eb-803d-cb96cbacb3f5
                    status: ACTIVE
                    name: outbound-sftp-49a1c002-b2fb-46d0-98f6-1f4fcd5522ee
                    runtimeDeploymentId: 1355
                    ports: []
                  endpointRole: SEND
                  endpointType: sftp
                  config:
                    configName: sftp
                    serverAddress: localhost
                    serverPort: 22
                    authMode:
                      authType: BASIC
                      csmSecret: null
                      username: mule
                      password: password
                    path: /send
                    fileAge: 10
                    pollingFrequency: 5000
                    sizeCheckWaitTime: 120
                    movedPath: ""
                  partner:
                    id: fb993e92-a0c3-4d56-b321-b2c382e53f14
                    name: Melora
                    description: null
                    websiteUrl: null
                    status:
                      id: 631fee0a-e729-4c3e-8a1c-06c5a403f8c8
                      startDate: null
                      endDate: null
                      status: ACTIVE
                    environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                    hostFlag: false
                  hostCertificate: null
                  partnerCertificate: null
                  createdAt: 2019-08-15T17:53:03Z
                  createdBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  updatedAt: 2019-08-28T20:12:57Z
                  updatedBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                - id: be4e705e-1479-4800-a33a-5c1f5581702f
                  name: Mulesoft SFTP ACK
                  description: Mulesoft ACK SFTP
                  environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                  endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                  partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                  hostCertificateId: null
                  partnerCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                  deployment:
                    id: 49a1c002-b2fb-46d0-98f6-1f4fcd5522ee
                    status: ACTIVE
                    name: ack-sftp-49a1c002-b2fb-46d0-98f6-1f4fcd5522ee
                    runtimeDeploymentId: 1359
                    ports: []
                  endpointRole: RECEIVE_ACK
                  endpointType: sftp
                  config:
                    configName: sftp
                    serverAddress: localhost
                    serverPort: 2244
                    authMode:
                      authType: BASIC
                      csmSecret: null
                      username: mule
                      password: password
                    path: /ack
                    fileAge: 10
                    pollingFrequency: 5000
                    sizeCheckWaitTime: 120
                    movedPath: ""
                  createdAt: 2019-08-15T17:53:03Z
                  createdBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  updatedAt: 2019-08-28T20:12:57Z
                  updatedBy:
                    userId: e3cdcf59-a2b4-41c3-981e-3311cc833669
                    firstName: B2b
                    lastName: Team
                    userName: b2b-team-dev
                  partner:
                    id: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                    name: Mulesoft
                    description: null
                    websiteUrl: null
                    status:
                      id: 37aab64f-c3c9-4e7d-b46b-b5a89c12cabf
                      startDate: null
                      endDate: null
                      status: ACTIVE
                    environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                    hostFlag: false
                  hostCertificate: null
                  partnerCertificate:
                    id: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                    certificateType: PEM
                    name: Melora 8
                    csmSecret:
                      secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      grantResponse:
                        path: /secret/path
                        accessGrant: ""
                    authority: Some Authority
                    serialNumber: 1234-5678
                    startDate: 2019-07-23T22:41:00
                    expires: 2019-07-23T22:41:00
                    partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                    usedInEndpoints: 2
                items:
                  type: object
                type: array
    post:
      description: Create a new endpoint
      operationId: createEndpoint
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              simpleEndpoint:
                id: 6fc31df9-52ff-40f9-93ff-c9b7f7394cd4
                name: Source SFTP Local
                description: Local Source SFTP for Melora
                environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                hostCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972397
                partnerCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                deployment: null
                endpointRole: SEND
                endpointType: sftp
                config:
                  configName: sftp
                  serverAddress: localhost
                  serverPort: 44
                  authMode:
                    authType: BASIC
                    csmSecret: null
                    username: mule
                    password: mule
                  path: /BITB
                  fileAge: 10
                  pollingFrequency: 5000
                  sizeCheckWaitTime: 120
                  movedPath: ""
                hostCertificate:
                  id: 2ff1bc8a-821f-ec53-a2a6-7721ef972397
                  certificateType: PEM
                  name: Melora 8
                  csmSecret:
                    secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                    secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                    grantResponse:
                      path: /secret/path
                      accessGrant: ""
                  authority: Some Authority
                  serialNumber: 1234-5678
                  startDate: 2019-07-23T22:13:52
                  expires: 2019-07-23T22:13:52
                  partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                  usedInEndpoints: 1
                partnerCertificate:
                  id: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                  certificateType: PEM
                  name: Melora 8
                  csmSecret:
                    secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                    secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                    grantResponse:
                      path: /secret/path
                      accessGrant: ""
                  authority: Some Authority
                  serialNumber: 1234-5678
                  startDate: 2019-07-23T22:41:00
                  expires: 2019-07-23T22:41:00
                  partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                  usedInEndpoints: 2
            schema:
              $ref: '#/components/schemas/Endpoint'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                type: string
          description: returns id
        "400": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/endpoints/{endpointId}:
    delete:
      description: Delete endpoint
      operationId: deleteEndpoint
      parameters:
      - explode: false
        in: path
        name: endpointId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204": {}
        "404": {}
        "500": {}
    get:
      description: Get Endpoint
      operationId: getEndpoint
      parameters:
      - explode: false
        in: path
        name: endpointId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                simpleEndpoint:
                  id: 6fc31df9-52ff-40f9-93ff-c9b7f7394cd4
                  name: Source SFTP Local
                  description: Local Source SFTP for Melora
                  environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                  endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                  partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                  hostCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972397
                  partnerCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                  deployment: null
                  endpointRole: SEND
                  endpointType: sftp
                  config:
                    configName: sftp
                    serverAddress: localhost
                    serverPort: 44
                    authMode:
                      authType: BASIC
                      csmSecret: null
                      username: mule
                      password: mule
                    path: /BITB
                    fileAge: 10
                    pollingFrequency: 5000
                    sizeCheckWaitTime: 120
                    movedPath: ""
                  hostCertificate:
                    id: 2ff1bc8a-821f-ec53-a2a6-7721ef972397
                    certificateType: PEM
                    name: Melora 8
                    csmSecret:
                      secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      grantResponse:
                        path: /secret/path
                        accessGrant: ""
                    authority: Some Authority
                    serialNumber: 1234-5678
                    startDate: 2019-07-23T22:13:52
                    expires: 2019-07-23T22:13:52
                    partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                    usedInEndpoints: 1
                  partnerCertificate:
                    id: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                    certificateType: PEM
                    name: Melora 8
                    csmSecret:
                      secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                      grantResponse:
                        path: /secret/path
                        accessGrant: ""
                    authority: Some Authority
                    serialNumber: 1234-5678
                    startDate: 2019-07-23T22:41:00
                    expires: 2019-07-23T22:41:00
                    partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                    usedInEndpoints: 2
              schema:
                $ref: '#/components/schemas/Endpoint'
        "404": {}
        "500": {}
    put:
      description: Replace endpoint
      operationId: replaceEndpoint
      parameters:
      - explode: false
        in: path
        name: endpointId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              simpleEndpoint:
                id: 6fc31df9-52ff-40f9-93ff-c9b7f7394cd4
                name: Source SFTP Local
                description: Local Source SFTP for Melora
                environmentId: 00c8540b-80c1-4fe6-96c3-643c284962c9
                endpointTypeId: 3bcc65e5-040b-47eb-8fc7-27c89225f1bc
                partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                hostCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972397
                partnerCertificateId: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                deployment: null
                endpointRole: SEND
                endpointType: sftp
                config:
                  configName: sftp
                  serverAddress: localhost
                  serverPort: 44
                  authMode:
                    authType: BASIC
                    csmSecret: null
                    username: mule
                    password: mule
                  path: /BITB
                  fileAge: 10
                  pollingFrequency: 5000
                  sizeCheckWaitTime: 120
                  movedPath: ""
                hostCertificate:
                  id: 2ff1bc8a-821f-ec53-a2a6-7721ef972397
                  certificateType: PEM
                  name: Melora 8
                  csmSecret:
                    secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                    secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                    grantResponse:
                      path: /secret/path
                      accessGrant: ""
                  authority: Some Authority
                  serialNumber: 1234-5678
                  startDate: 2019-07-23T22:13:52
                  expires: 2019-07-23T22:13:52
                  partnerId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                  usedInEndpoints: 1
                partnerCertificate:
                  id: 2ff1bc8a-821f-ec53-a2a6-7721ef972398
                  certificateType: PEM
                  name: Melora 8
                  csmSecret:
                    secretId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                    secretGroupId: 1ff1bc8a-821f-ec53-a2a6-7721ef972397
                    grantResponse:
                      path: /secret/path
                      accessGrant: ""
                  authority: Some Authority
                  serialNumber: 1234-5678
                  startDate: 2019-07-23T22:41:00
                  expires: 2019-07-23T22:41:00
                  partnerId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                  usedInEndpoints: 2
            schema:
              $ref: '#/components/schemas/Endpoint'
        required: true
      responses:
        "204": {}
        "400": {}
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/ediFormats:
    get:
      description: Get all ediFormats
      operationId: getAllEdiFormats
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: 25c1bc8a-801f-4337-a2a6-7721ef971460
                  formatType: X12
                  description: X12 format type
                  label: X12 Document
                items:
                  $ref: '#/components/schemas/ediFormat'
                type: array
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/ediFormats/{format}:
    get:
      description: Get ediFormats
      operationId: getEdiFormat
      parameters:
      - explode: false
        in: path
        name: format
        required: true
        schema:
          $ref: '#/components/schemas/ediFormatTypes'
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 25c1bc8a-801f-4337-a2a6-7721ef971460
                formatType: X12
                description: X12 format type
                label: X12 Document
              schema:
                $ref: '#/components/schemas/ediFormat'
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/ediFormats/{format}/ediFormatVersions:
    get:
      description: Get all ediFormatVersions
      operationId: getAllEdiFormatVersions
      parameters:
      - explode: false
        in: path
        name: format
        required: true
        schema:
          $ref: '#/components/schemas/ediFormatTypes'
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 7f9d1dcc-6262-43b8-8990-26a4f2787aec
                formatType: X12
                version: v003010
                description: X12 v.3010
                label: "3010"
              - id: 095c7c8d-5279-4fb9-98a6-80fc80878619
                formatType: X12
                version: v003020
                description: X12 v.3020
                label: "3020"
              schema:
                items:
                  $ref: '#/components/schemas/ediFormatVersion'
                type: array
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/ediFormats/{format}/ediFormatVersions/{versionId}:
    get:
      description: Get ediFormatVersions
      operationId: getEdiFormatVersion
      parameters:
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: format
        required: true
        schema:
          $ref: '#/components/schemas/ediFormatTypes'
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 7f9d1dcc-6262-43b8-8990-26a4f2787aec
                formatType: X12
                version: v003010
                description: X12 v.3010
                label: "3010"
              schema:
                $ref: '#/components/schemas/ediFormatVersion'
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/ediFormats/{format}/ediFormatVersions/{versionId}/ediDocumentTypes:
    get:
      description: Get all ediDocumentTypes
      operationId: getAllEdiDocumentTypes
      parameters:
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: format
        required: true
        schema:
          $ref: '#/components/schemas/ediFormatTypes'
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 6117a01c-d661-4517-80a5-5a6fe08d833c
                documentName: "810"
                label: "810"
                schemaPath: /schemas/x12/3010/810.esl
                description: ""
                formatType: JSON
                version: ""
              schema:
                items:
                  $ref: '#/components/schemas/ediDocumentType'
                type: array
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/documentflows:
    get:
      description: Get all documents
      operationId: getAllDocumentflows
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: searchString
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: The page to be fetched
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Limit the elements to be fetched a page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          type: integer
        style: form
      responses:
        "200":
          headers:
            X-TotalRecordCount:
              description: the count of total elements in the query
              explode: false
              schema:
                type: integer
              style: simple
            X-TotalPages:
              description: The count of total pages in the query
              explode: false
              schema:
                type: integer
              style: simple
    post:
      description: Create a new documentflow
      operationId: createDocumentflow
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: 711b87b1-5e79-44c9-85dd-5d50fd6e0297
              name: 850 X12 From Melora
              direction: INBOUND
              partnerFromId: fb993e92-a0c3-4d56-b321-b2c382e53f14
              partnerToId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
              configurations: []
              lastDeployStatus: FAIL
              lastDeployMessage: message example
            schema:
              $ref: '#/components/schemas/documentFlow'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_202'
          description: Response of POST requests returning new entity id
        "400": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/documentflows/{documentflowId}:
    delete:
      description: Delete documentflow
      operationId: deleteDocumentflow
      parameters:
      - explode: false
        in: path
        name: documentflowId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204": {}
        "404": {}
        "500": {}
    get:
      description: Get Documentflow
      operationId: getDocumentflow
      parameters:
      - explode: false
        in: path
        name: documentflowId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 711b87b1-5e79-44c9-85dd-5d50fd6e0297
                name: 850 X12 From Melora
                direction: INBOUND
                partnerFromId: fb993e92-a0c3-4d56-b321-b2c382e53f14
                partnerToId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
                configurations: []
                lastDeployStatus: FAIL
                lastDeployMessage: message example
              schema:
                $ref: '#/components/schemas/documentFlow'
        "404": {}
        "500": {}
    patch:
      description: Patches documentflow
      operationId: updateDocumentflow
      parameters:
      - explode: false
        in: path
        name: documentflowId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: 711b87b1-5e79-44c9-85dd-5d50fd6e0297
              name: 850 X12 From Melora
              direction: INBOUND
              partnerFromId: fb993e92-a0c3-4d56-b321-b2c382e53f14
              partnerToId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
              configurations: []
              lastDeployStatus: FAIL
              lastDeployMessage: message example
            schema:
              $ref: '#/components/schemas/documentFlow'
        required: true
      responses:
        "200": {}
        "204": {}
        "400": {}
        "404": {}
        "500": {}
    put:
      description: Replace documentflow
      operationId: replaceDocumentflow
      parameters:
      - explode: false
        in: path
        name: documentflowId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: 711b87b1-5e79-44c9-85dd-5d50fd6e0297
              name: 850 X12 From Melora
              direction: INBOUND
              partnerFromId: fb993e92-a0c3-4d56-b321-b2c382e53f14
              partnerToId: c3ca131d-d625-43d1-aa2b-3bea050f5e5b
              configurations: []
              lastDeployStatus: FAIL
              lastDeployMessage: message example
            schema:
              $ref: '#/components/schemas/documentFlow'
        required: true
      responses:
        "204": {}
        "400": {}
        "404": {}
        "500": {}
  /organizations/{organizationId}/environments/{environmentId}/documentflows/{documentflowId}/mappings:
    get:
      description: Get all mappings
      operationId: getAllMappings
      parameters:
      - explode: false
        in: path
        name: documentflowId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: b2621865-10e1-49b1-9d9e-a8db666fdc0e
                mappingType: DWL_FILE
[...]
